<div class="ticket">
    <h1>{{ticket.departureCity}} - {{ticket.arrivalCity}}</h1>
    <span class="card-title">Самолет: {{ticket.airplaneName}}</span>
    <h2 class="price">{{ticket.price}}</h2>
</div>